@import '../../styles/mixins';

.staff {
	grid-column: center-start / center-end;
	padding: 14vh 2vw;

	& > section {
		padding-top: 8vh;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		position: relative;
		li {
			list-style-type: none;
		}
		@include respond($bp8) {
			flex-direction: column;
		}
	}

	&__img {
		flex: 0 0 auto;
		transform: translateY(6rem);
		margin-right: 10vw;
		width: 400px;
		height: auto;
		img {
			object-fit: cover;
			transition: all 1s ease-in-out;
		}
		@include respond($bp8) {
			transform: translateY(0);
			margin: 0 0 6rem 0;
			width: 80vmin;
			height: auto;
		}
	}

	&__desc {
		align-self: flex-start;
		& > h3 {
			margin-bottom: 2rem;
		}
		& > ul {
			width: max-content;
			font-size: 1.7rem;
		}
		@include respond($bp5) {
			margin-left: 4rem;
		}
	}
}
