@import '../../styles/mixins';

.treatment {
	grid-column: center-start / center-end;
	padding: 14vh 3vw 4vh;
	@include animation(fadeIn, 1s, ease-in);

	& > * {
		width: 100%;
		max-width: 100rem;
		margin: 0 auto 10vh;
	}

	& > hr {
		border: none;
		border-bottom: 1px solid var(--grey);
	}

	&__intro {
		position: relative;
		padding-top: 6rem;
		p {
			font-weight: 400;
			margin-bottom: 2rem;
			color: var(--secondary);
		}
	}

	& > section {
		display: grid;
		grid-template-columns: 1fr max-content;
		align-items: flex-start;
		@include respond($bp7) {
			display: block;
			text-align: center;
		}
	}

	img {
		max-width: 40rem;
	}

	&__desc {
		margin-right: 6vw;
		text-align: left;
		& > h3 {
			margin-bottom: 6vh;
			letter-spacing: 1px;
			color: var(--primary);
			font-weight: 700;
		}
		@include respond($bp7) {
			margin-right: 0;
			margin-bottom: 4vh;
		}
	}

	&__outtro {
		padding: 0 2vw;
		p {
			font-weight: 400;
			color: var(--secondary);
		}
	}
}
