@import '../../styles/mixins';

.home {
	grid-column: full-start / full-end;

	&__parallax {
		perspective: 1px;
		perspective-origin: top right;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		position: relative;
		scroll-snap-type: y mandatory;

		// Hide scrollbar
		&::-webkit-scrollbar {
			display: none; //Chrome, Safari and Opera
		}
		-ms-overflow-style: none; // IE and Edge
		scrollbar-width: none; // Firefox

		&__layer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			&--back {
				transform: translateZ(-20px) scale(22);
				transform-origin: top right;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 108vh;
				transition: opacity 1.2s ease-in-out;
			}
			&--base {
				transform: translateZ(0);
				& > section {
					height: 100vh;
					position: relative;
					font-weight: 400;
					color: var(--light);
					line-height: 2;
					font-size: 1.8rem;
					padding: 2rem;
					scroll-snap-align: start;
					& > h4 {
						font-size: 20rem;
						position: absolute;
						top: 12vh;
						opacity: 0.4;
						font-family: var(--font-special);
						letter-spacing: 0.6rem;
					}
					& > div {
						position: absolute;
						bottom: 32vh;
					}
				}
				& > section:nth-of-type(1),
				& > section:nth-of-type(3) {
					& > h4 {
						left: 16vw;
					}
					& > div {
						right: 18vw;
						@include respond($bp4) {
							right: 7vw;
						}
					}
				}
				& > section:nth-of-type(2) {
					& > h4 {
						right: 7vw;
					}
					& > div {
						left: 18vw;
						@include respond($bp4) {
							left: 7vw;
						}
					}
				}
				div.home__btns {
					scroll-snap-align: end;
					height: 14vh;
					display: flex;
					justify-content: center;
					align-items: flex-start;
					& > a {
						font-size: 1.8rem;
						margin-right: 6rem;
						@include respond($bp4) {
							margin-right: 4rem;
						}
					}
				}
			}
		}
	}
}
