@import '../../styles/mixins';

.group {
	grid-column: center-start / center-end;
	padding: 14vh 2vw 11vh;
	@include animation(fadeIn, 1s, ease-in-out);

	& > section {
		width: 100%;
		position: relative;
		padding-top: 6rem;
		@include respond($bp7) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__img {
		img {
			max-width: 60rem;
			min-height: 40vmin;
			object-fit: cover;
		}
		margin: 4vh 4vw;
		float: left;
		@include respond($bp9) {
			width: 100%;
			float: none;
			margin: 0 auto 2rem;
		}
	}

	&__desc {
		max-width: 100%;
		& > div > p:not(:last-child) {
			margin-bottom: 2vh;
		}
	}
}
