@import '../../styles//mixins';

.personal {
	@include animation(fadeIn, 1.6s, ease-in);
	grid-column: center-start / center-end;
	padding: 14vh 4vw 11vh;

	& > section {
		padding-top: 6rem;
		display: flex;
		align-items: flex-end;
		justify-content: space-evenly;
		position: relative;
		@include respond($bp5) {
			align-items: flex-start;
		}
		@include respond($bp7) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__desc {
		margin-right: 4rem;
		& > p {
			width: 100%;
			max-width: 40rem;
			margin-bottom: 2vh;
		}
		@include respond($bp7) {
			margin-right: 0;
			margin-bottom: 3vh;
		}
	}

	&__img {
		@include animation(fadeIn, 1.2s, ease-in);
		width: 40vmin;
		height: 48vmin;
		img {
			object-fit: cover;
			transition: all 1s ease-in-out;
		}
		@include respond($bp6) {
			width: 80vw;
			height: 96vw;
		}
	}
}
