@import '../../styles/mixins';

.process {
  grid-column: full-start / full-end;

  &__chart {
    width: 100%;
    transition: opacity 1.2s ease-in-out;
    height: calc(14rem + 24vmin);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    counter-reset: step;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4rem;
    box-sizing: border-box;

    ul {
      width: 100%;
      max-width: 100rem;
      color: var(--grey);
      font-weight: 700;
      letter-spacing: 1px;
    }

    li {
      float: left;
      width: 20%; //5 items total
      position: relative;
      text-align: center;
      list-style-type: none;
      color: var(--primary-2);

      // Number
      &::before {
        content: counter(step);
        counter-increment: step;
        width: 2.6rem;
        height: 2.6rem;
        display: block;
        margin: 0 auto 1rem;
        border-radius: 50%;
        line-height: 2.2rem;
        background-color: var(--primary-3);
        color: var(--light);
        font-weight: 500;
        text-align: center;
        transition: all 0.2s linear;
        cursor: pointer;
      }
      // Horizontal line
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: var(--primary-3);
        opacity: 0.6;
        top: 1.2rem;
        left: -50%;
        z-index: -1;
        transition: all 0.2s ease-in-out;
      }
      &:first-child:after {
        content: none;
      }
      &.active::after {
        background-color: var(--primary);
      }
      &.active::before {
        border-color: var(--primary);
        background-color: var(--primary);
        color: var(--light);
      }
    }
  }

  &__steps {
    width: 100%;
  }

  &__step {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: var(--grey);
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5) {
      background-color: var(--light);
    }
    $count: 5;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        z-index: $count;
        $count: $count - 1;
      }
    }

    &__content {
      box-sizing: border-box;
      width: 100%;
      max-width: 90rem;
      height: 100%;
      padding: 0 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(6rem);
      font-weight: 400;
      font-size: 1.8rem;
      & > h2 {
        font-size: 2.4rem;
        padding: 0 1rem 1rem;
        border-bottom: 2px solid var(--primary-3);
        margin-bottom: 4vh;
        color: var(--primary);
        letter-spacing: 0.4rem;
      }
    }
  }
}
