@import '../../styles/mixins';

.basic-btn {
  @include basicBtnStyle();
  padding: 0.6rem 1.4rem;
  border-radius: 10rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light);

  &.trans {
    color: var(--grey-3);
    border: solid 1px var(--grey-2);
    background-color: transparent;
  }
  &.info {
    background-color: var(--info);
  }
  &.success {
    background-color: var(--success);
  }
  &.warning {
    background-color: var(--warning);
  }
  &.error {
    background-color: var(--error);
  }
  &.primary {
    background-color: var(--primary-2);
  }
  &.secondary {
    background-color: var(--secondary);
  }
}
